# Funciones

In [1]:
/**
retorna la suma de p1 y p2
*/
function suma(p1, p2) {
    return p1 * p2;}


/**
retorna la resta de p1 y p2
*/
function resta(p1, p2) {
        return p1 - p2;}

In [ ]:
resta(10,5)

5

In [ ]:
var colors = ['red', 'orange', 'yellow', 'green', 'blue', 'purple']

In [ ]:
function listArrayItems(arr) {
    for (var i = 0; i < arr.length; i++) {
        console.log(arr[i])
    }
}

In [ ]:
listArrayItems(colors);

red
orange
yellow
green
blue
purple

In [ ]:
function listArrayItems2(arr) {
    for (var i in arr) {
        console.log(i)
    }
}

In [ ]:
listArrayItems2(colors);

0
1
2
3
4
5

In [ ]:
function listArrayItems3(arr) {
    for (var i of arr) {
        console.log(i)
    }
}

In [ ]:
listArrayItems3(colors);

red
orange
yellow
green
blue
purple

In [ ]:
function listArrayItems4(arr) {
    for (var i = 0; i < arr.length; i++) {
        console.log(i+1, arr[i])
    }
}

In [ ]:
listArrayItems4(colors);

1 'red'
2 'orange'
3 'yellow'
4 'green'
5 'blue'
6 'purple'

In [ ]:
function letterFinder(word, match) {
    for(var i = 0; i < word.length; i++) {
        if(word[i] == match) {
            console.log('Found the', match, 'at', i)
        } else {
            console.log('---No match found at', i)
        }
    }
}

letterFinder("test", "t")

Found the t at 0
---No match found at 1
---No match found at 2
Found the t at 3

# Objetos

In [ ]:
var obj = {}
typeof(obj)

'object'

In [ ]:
var assistantManager = {
    rangeTilesPerTurn: 3,
    socialSkills: 30,
    streetSmarts: 30,
    health: 40,
    specialAbility: "young and ambitious",
    greeting: "Let's make some money"}

In [ ]:
assistantManager

{ rangeTilesPerTurn: 3,
  socialSkills: 30,
  streetSmarts: 30,
  health: 40,
  specialAbility: 'young and ambitious',
  greeting: 'Let\'s make some money' }

In [ ]:
assistantManager.greeting

'Let\'s make some money'

In [ ]:
assistantManager["health"]

40

In [ ]:
console.log(assistantManager.greeting)

Let's make some money

In [ ]:
var house = {
    rooms: 3,
    color: "brown",
    priceUSD: 10000,
}
house

{ rooms: 3, color: 'brown', priceUSD: 10000 }

In [ ]:
house.metros = 150

150

In [ ]:
house

{ rooms: 3, color: 'brown', priceUSD: 10000, metros: 150 }

In [ ]:
house.metros = 11;
console.log(house);

{ rooms: 3, color: 'brown', priceUSD: 10000, metros: 11 }

In [ ]:
var arrOfKeys = ['speed', 'altitude', 'color'];
var drone = {
    speed: 100,
    altitude: 200,
    color: "red"
}
for (var i = 0; i < arrOfKeys.length; i++) {
    console.log(drone[arrOfKeys[i]])
}

100
200
red

In [ ]:
for (var i of arrOfKeys) {
    console.log(i);
    console.log(drone[i])
}

speed
100
altitude
200
color
red

In [ ]:
// el this es como el self de python la diferencia es que aca es estricto
const persona = {
    firstName: "John",
    lastName : "Doe",
    id       : 5566,
    fullName : function() {
      return this.firstName + " " + this.lastName},
    }

In [ ]:
persona

{ firstName: 'John',
  lastName: 'Doe',
  id: 5566,
  fullName: [Function: fullName] }

In [ ]:
persona.firstName = "emiliano"
person

ReferenceError: person is not defined

In [ ]:
person.fullName()

'emiliano Doe'

In [ ]:
person.first_name = "passarello"

'passarello'

In [ ]:
person

{ firstName: 'emiliano',
  lastName: 'Doe',
  id: 5566,
  fullName: [Function: fullName],
  set_firstName: [Function: set_firstName],
  edad: 48,
  first_name: 'passarello',
  lastname: 'passarello',
  first_nama: 'passarello' }

# Arrays

## push

In [ ]:
var fruits = [];
fruits.push("apple"); // ['apple']
console.log(fruits);
fruits.push('pear'); // ['apple', 'pear']
fruits

[ 'apple' ]

[ 'apple', 'pear' ]

## pop

In [ ]:
var fruta = fruits.pop()

In [ ]:
fruta

'pear'

## shift

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
console.log(fruits.shift());console.log(fruits);
console.log(fruits.shift());console.log(fruits);
console.log(fruits.shift());console.log(fruits);

Banana
[ 'Orange', 'Apple', 'Mango' ]
Orange
[ 'Apple', 'Mango' ]
Apple
[ 'Mango' ]

## unshift

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
fruits.unshift("Lemon");
console.log(fruits);

[ 'Lemon', 'Banana', 'Orange', 'Apple', 'Mango' ]

## delete

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
delete fruits[0];
console.log(fruits);

[ <1 empty item>, 'Orange', 'Apple', 'Mango' ]

In [ ]:
console.log(fruits[0])

undefined

## concat

In [ ]:
const myGirls = ["Cecilie", "Lone"];
const myBoys = ["Emil", "Tobias", "Linus"];

const myChildren = myGirls.concat(myBoys);

In [ ]:
myChildren

[ 'Cecilie', 'Lone', 'Emil', 'Tobias', 'Linus' ]

In [ ]:
var arr_1 = ["Cecilie", "Lone"];
var arr_2 = ["Emil", "Tobias", "Linus"];
var arr_3 = ["Robin", "Morgan"];
var myChildren = arr_1.concat(arr_2, arr_3);
myChildren

[ 'Cecilie', 'Lone', 'Emil', 'Tobias', 'Linus', 'Robin', 'Morgan' ]

In [ ]:
var arr1 = ["Emil", "Tobias", "Linus"];
var myChildren = arr1.concat("Peter"); 
console.log(arr1);
console.log(myChildren);

[ 'Emil', 'Tobias', 'Linus' ]
[ 'Emil', 'Tobias', 'Linus', 'Peter' ]

## splice

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
fruits.splice(2, 0, "Lemon", "Kiwi");
// el primer argumanto es la ubicacion donde agraga los elementos que agrega y el segundo la cantidad que remplaza

console.log(fruits);

[ 'Banana', 'Orange', 'Lemon', 'Kiwi', 'Apple', 'Mango' ]

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
fruits.splice(0, 2, "Lemon", "Kiwi"); // va remplaza los 2 primeros elementos
console.log(fruits);

[ 'Lemon', 'Kiwi', 'Apple', 'Mango' ]

## splice

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
console.log(fruits.splice(0, 1));console.log(fruits)

[ 'Banana' ]
[ 'Orange', 'Apple', 'Mango' ]

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
console.log(fruits.splice(2,));console.log(fruits) // los mismo que poner splice(2,2)

[ 'Apple', 'Mango' ]
[ 'Banana', 'Orange' ]

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
console.log(fruits.splice(1,2));console.log(fruits)

[ 'Orange', 'Apple' ]
[ 'Banana', 'Mango' ]

## slice

In [ ]:
var fruits = ["Banana", "Orange", "Lemon", "Apple", "Mango"];
var citrus = fruits.slice(1);
console.log(citrus);console.log(fruits)

[ 'Orange', 'Lemon', 'Apple', 'Mango' ]
[ 'Banana', 'Orange', 'Lemon', 'Apple', 'Mango' ]

In [ ]:
var fruits = ["Banana", "Orange", "Lemon", "Apple", "Mango"];
var citrus = fruits.slice(3);
console.log(citrus);console.log(fruits)

[ 'Apple', 'Mango' ]
[ 'Banana', 'Orange', 'Lemon', 'Apple', 'Mango' ]

In [ ]:
var fruits = ["Banana", "Orange", "Lemon", "Apple", "Mango"];
var citrus = fruits.slice(1,3);
console.log(citrus);console.log(fruits)

[ 'Orange', 'Lemon' ]
[ 'Banana', 'Orange', 'Lemon', 'Apple', 'Mango' ]

## sort

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
fruits.sort();

[ 'Apple', 'Banana', 'Mango', 'Orange' ]

In [ ]:
var fruits = ["Banana", "Orange", "Apple", "Mango"];
fruits.sort();

[ 'Apple', 'Banana', 'Mango', 'Orange' ]

In [ ]:
fruits.reverse();

[ 'Orange', 'Mango', 'Banana', 'Apple' ]

In [ ]:
var points = [40, 100, 1, 5, 25, 10, -25];
points.sort(function(a, b){return  a- b});

[ -25, 1, 5, 10, 25, 40, 100 ]

In [ ]:
var points = [40, 100, 1, 5, 25, 10, -25];
points.sort((a, b) =>  a - b); //

[ -25, 1, 5, 10, 25, 40, 100 ]

In [ ]:
var points = [40, 100, 1, 5, 25, 10, -25];
points.sort((a, b) =>  b- a); //

[ 100, 40, 25, 10, 5, 1, -25 ]

## toSting

In [ ]:
fruits = ["Banana", "Orange", "Apple", "Mango"];
fruits.toString();

'Banana,Orange,Apple,Mango'

## Array Iteration

In [ ]:
var numbers = [45, 4, 9, 16, 25];
var txt = "";
numbers.forEach(myFunction);

function myFunction(value, index, array) {
  console.log(index);
  console.log(array);
  txt += value + "\n";
  }

console.log(txt)

0
[ 45, 4, 9, 16, 25 ]
1
[ 45, 4, 9, 16, 25 ]
2
[ 45, 4, 9, 16, 25 ]
3
[ 45, 4, 9, 16, 25 ]
4
[ 45, 4, 9, 16, 25 ]
45
4
9
16
25

In [ ]:
var numbers = [45, 4, 9, 16, 25];
var txt = "";
numbers.forEach(myFunction);

function myFunction(value) {

  txt += value + "<br>";
}

txt

'45<br>4<br>9<br>16<br>25<br>'

## Array map()


El método map() crea un nuevo array ejecutando una función en cada elemento del array.

El método map() no ejecuta la función para los elementos de la matriz sin valores.

El método map() no cambia el array original.

In [ ]:
var numbers1 = [45, 4, 9, 16, 25];
var numbers2 = numbers1.map(myFunction);

function myFunction(value, index, array) {
  console.log(index);
  console.log(array);
  return value * 2;}

numbers2

0
[ 45, 4, 9, 16, 25 ]
1
[ 45, 4, 9, 16, 25 ]
2
[ 45, 4, 9, 16, 25 ]
3
[ 45, 4, 9, 16, 25 ]
4
[ 45, 4, 9, 16, 25 ]

[ 90, 8, 18, 32, 50 ]

In [ ]:
var numbers1 = [45, 4, 9, 16, 25];
var numbers2 = numbers1.map(myFunction);

function myFunction(value) {

  return value * 2;
}
numbers2

[ 90, 8, 18, 32, 50 ]

## Array filter

In [ ]:
var numbers = [45, 4, 9, 16, 25];
var over18 = numbers.filter(myFunction);

function myFunction(value, index, array) {
  console.log(index);
  console.log(array);
  return value > 18;
}
over18

0
[ 45, 4, 9, 16, 25 ]
1
[ 45, 4, 9, 16, 25 ]
2
[ 45, 4, 9, 16, 25 ]
3
[ 45, 4, 9, 16, 25 ]
4
[ 45, 4, 9, 16, 25 ]

[ 45, 25 ]

## Array reduce()

In [ ]:
var numeros = [45, 4, 9, 16, 25];
function myFunction(total, value, index, array) {
  console.log(index);
  // console.log(array);
  console.log(value);
  console.log(total);
  return total + value;
}
multi = numeros.reduce(myFunction);
multi

1
4
45
2
9
49
3
16
58
4
25
74

99

In [2]:
var num = [45, 4, 9, 16, 25];

// El método reduce() puede aceptar un valor inicial:

var sum = num.reduce(myFunction, 500);

function myFunction(total, value) {
  return total + value;
}
sum

599

## every / some

In [9]:
function myFunction(value, index, array) {
  console.log(value, index, array);
  return value > 18;
}

In [10]:
numbers.some(myFunction)

45 0 [ 45, 4, 9, 16, 25 ]

true

In [11]:
numbers.every(myFunction)

45 0 [ 45, 4, 9, 16, 25 ]
4 1 [ 45, 4, 9, 16, 25 ]

false